@model IEnumerable<EMS.Web.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.RoleName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.UserId" method="post">
                        <a asp-action="Edit" asp-route-id="@user.UserId"><img src="~/Images/Icons/edit.png" title="Edit" class="icon" /></a>
                        @*<a asp-action="Details" asp-route-id="@user.UserId"><img src="~/Images/Icons/detail.png" title="Detail" class="icon" /></a>*@
                        <button type="submit" onclick="return confirm('Are you sure you want to delete user : @user.UserName ?')"><img src="~/Images/Icons/delete.png" title="Delete" class="icon" /></button>
                        @if (user.IsActive && !user.IsDeleted)
                        {
                            <a asp-action="Deactivate" asp-route-id="@user.UserId" asp-route-type="deactive"><img src="~/Images/Icons/tick.png" title="Click to deactivate" class="icon" /></a>
                        }
                        else
                        {
                            <a asp-action="Activate" asp-route-id="@user.UserId" asp-route-type="active"><img src="~/Images/Icons/multiply.png" title="Click to activate" class="icon" /></a>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
