@model IEnumerable<EMS.Entities.Designation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["ErrorMessage"] != null)
{
    <p class="text-danger">@TempData["ErrorMessage"]</p>
}
@if (TempData["SuccessMessage"] != null)
{
    <p class="text-success">@TempData["SuccessMessage"]</p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesignationName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.DesignationId" method="post">
                        <a asp-action="Edit" asp-route-id="@item.DesignationId" class="btn btn-primary">Edit</a>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Department :@item.DesignationName ?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
