@model IEnumerable<EMS.Entities.Holiday>

@{
    ViewData["Title"] = "Holidays";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<table class="datatable table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolidayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayName)
                </td>
                <td>
                    <form asp-action="DeleteHoliday" asp-route-id="@item.HolidayId" method="post">
                        <a asp-action="Edit" asp-route-id="@item.HolidayId"><img src="~/Images/Icons/edit.png" title="Edit" class="icon" /></a>
                        <button type="submit" onclick="return confirm('Are you sure you want to delete holiday : @item.HolidayName ?')"><img src="~/Images/Icons/delete.png" title="Delete" class="icon" /></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
