@model EMS.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "User Information";
}

<h1>@ViewData["Title"]</h1>

<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MiddileName" class="control-label"></label>
                <input asp-for="User.MiddileName" class="form-control" />
                <span asp-validation-for="User.MiddileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MobileNumber" class="control-label"></label>
                <input asp-for="User.MobileNumber" class="form-control" />
                <span asp-validation-for="User.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.IsActive" /> @Html.DisplayNameFor(model => model.User.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.IsDeleted" /> @Html.DisplayNameFor(model => model.User.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.CreatedDate" class="control-label"></label>
                <input asp-for="User.CreatedDate" class="form-control" />
                <span asp-validation-for="User.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ModifiedDate" class="control-label"></label>
                <input asp-for="User.ModifiedDate" class="form-control" />
                <span asp-validation-for="User.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CreatedBy" class="control-label"></label>
                <input asp-for="User.CreatedBy" class="form-control" />
                <span asp-validation-for="User.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ModifiedBy" class="control-label"></label>
                <input asp-for="User.ModifiedBy" class="form-control" />
                <span asp-validation-for="User.ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastLogin" class="control-label"></label>
                <input asp-for="User.LastLogin" class="form-control" />
                <span asp-validation-for="User.LastLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

