@model EMS.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit User";

    var profilePicture = "/Images/default_image.jpg";
    var profilePictureName = "Choose File...";
    if (!string.IsNullOrEmpty(@Model.User.ImagePath))
    {
        profilePicture = "/Images/UserImage/" + Model.User.ImagePath;
        profilePictureName = Model.User.ImagePath.Split(new string[] { "$$" }, StringSplitOptions.None)[1];
    }
}

<h1>@ViewData["Title"]</h1>

<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        @*<a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>*@

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="User.UserId" />
            <input type="hidden" asp-for="User.AspUserId" />

            <div class="form-group">
                <div class="profile-img">
                    <img src="@profilePicture" />
                    <button type="button" class="close profile-img-close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="custom-file">
                    <input asp-for="ProfileImage" class="form-control custom-file-input" accept=".png,.jpg,.jpeg" />
                    <label class="custom-file-label">@profilePictureName</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MiddileName" class="control-label"></label>
                <input asp-for="User.MiddileName" class="form-control" />
                <span asp-validation-for="User.MiddileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MobileNumber" class="control-label"></label>
                <input asp-for="User.MobileNumber" class="form-control" />
                <span asp-validation-for="User.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <div class="">
                    <select asp-for="RoleId" asp-items="@Model.Roles" class="form-control">
                        <option value="">--Select role--</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            if ($(".custom-file-label").text() != "Choose File...") {
                $(".profile-img-close").css("display", "block");
            }

            $(".custom-file-input").on('change', function () {
                changeProfileImage($(this));
            });

            $(".profile-img img").on('click', function () {
                $(".custom-file-input").trigger("click");
            });

            $(".profile-img-close").on('click', function () {
                $(this).prev().attr("src", "/Images/default_image.jpg");
                $(this).css("display", "none");
                $(".custom-file-input").val("");
            });
        });

        function changeProfileImage(input) {
            //var fileName = input.val().split("\\").pop();
            //input.next(".custom-file-label").text("Choose File...");
            //if (fileName != "") {
            //input.next(".custom-file-label").text(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                $(".profile-img img").attr("src", e.target.result);
                $(".profile-img-close").css("display", "block");
            }
            reader.readAsDataURL(input[0].files[0]);
            //}
        }
    </script>
}