@model IEnumerable<EMS.Web.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Role Management";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (TempData["ErrorMessage"] != null)
{
    <p>@TempData["ErrorMessage"]</p>
}
@if (TempData["SuccessMessage"] != null)
{
    <p>@TempData["SuccessMessage"]</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => role.RoleName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.RoleId" method="post">
                        <a asp-action="Edit" asp-route-id="@role.RoleId" class="btn btn-primary">Edit</a>
                        <a asp-action="Detail" asp-route-id="@role.RoleId" class="btn btn-info">Detail</a>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Role : @role.RoleName ?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>