@model IEnumerable<EMS.Entities.Department>

@{
    ViewData["Title"] = "Department Management";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["ErrorMessage"] != null)
{
    <p class="text-danger">@TempData["ErrorMessage"]</p>
}
@if (TempData["SuccessMessage"] != null)
{
    <p class="text-success">@TempData["SuccessMessage"]</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.DepartmentId" method="post">
                        <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-primary">Edit</a>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Role : @item.DepartmentName ?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
