@model EMS.Web.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MiddileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MiddileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FatherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MotherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MotherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PermanentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PermanentAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.CommunicationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.CommunicationAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.AadharNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.AadharNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PanNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PanNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PassportNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PassportNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PassportExpDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PassportExpDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MaritalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MaritalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.JoiningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TotalExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TotalExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PastExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PastExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PrimarySkills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PrimarySkills)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.SecondarySkills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.SecondarySkills)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ReportTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ReportTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Designation.DesignationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Qualification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Qualification.QualificationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ModifiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Employee.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
