@model IEnumerable<EMS.Entities.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>@ViewData["Title"]</h1>

<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var fullName = item.FirstName + (item.MiddileName != null ? " " + item.MiddileName + " " + item.LastName : " " + item.LastName);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                </td>
                <td>
                    @Html.DisplayName(fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.EmployeeId" method="post">
                        <a class="" asp-action="Edit" asp-route-id="@item.EmployeeId"><img src="~/Images/Icons/edit.png" title="Edit" class="icon" /></a>
                        <a class="" asp-action="Details" asp-route-id="@item.EmployeeId"><img src="~/Images/Icons/detail.png" title="Detail" class="icon" /></a>
                        <button type="submit" class="" onclick="return confirm('Are you sure you want to delete Employeee : @item.FirstName ?')"><img src="~/Images/Icons/delete.png" title="Delete" class="icon" /></button>
                        @if (item.IsActive && !item.IsDeleted)
                        {
                            <a class="" asp-action="Deactivate" asp-route-id="@item.EmployeeId" asp-route-type="deactive"><img src="~/Images/Icons/tick.png" title="Click to deactivate" class="icon" /></a>
                        }
                        else
                        {
                            <a class="" asp-action="Activate" asp-route-id="@item.EmployeeId" asp-route-type="active"><img src="~/Images/Icons/multiply.png" title="Click to activate" class="icon" /></a>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
