@model IEnumerable<EMS.Web.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Employee List";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["ErrorMessage"] != null)
{
    <p class="text-danger">@TempData["ErrorMessage"]</p>
}
@if (TempData["SuccessMessage"] != null)
{
    <p class="text-success">@TempData["SuccessMessage"]</p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.EmployeeId" method="post">
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Employeee : @item.FullName ?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
